[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
backtrader = "*"
matplotlib = "==3.2.2"
backtrader-plotting = "*"

[dev-packages]

[requires]
python_version = "3.9"
